*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px
}
body{
    background-color:burlywood;
}
h1{
    color: red;
    font-size: 45px;    
}
img{
    width: 350px;
    height: 190px;
}
p{
    background-color: antiquewhite;
    color:blue;
}

